h1 {
  text-align: center;
  margin: 0px 20px;
}

h2 {
  text-align: center;
}

.container {
  margin: 20px auto;
  width: 500px;
  height: 700px;
  background: url("https://wallpapercave.com/wp/wp6962120.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.countdown-container {
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
}
.mainDiv {
  display: flex;
  width: 460px;
  justify-content: space-between;
}

.flex-item {
  background: black;
  color: #add8ec;
  height: 55px;
  padding: 3px;
  border-radius: 5px;
}

.number {
  padding: 2px;
  display: block;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
}

.text {
  display: block;
  font-size: 20px;
  font-size: bold;
  text-align: center;
}
