h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
}

.mainDiv {
  margin: 0 auto;
  width: 500px;
  height: auto;
  background: url("./img/photo-1646429411544-b735d4c77bb7.avif");
}

.countdown-container {
  height: 500px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: start;
}

#table {
  width: inherit;
  text-align: center;
}
td {
  margin: auto;
}

tr {
  margin-top: 10px;
}

.number {
  padding: 5%;
  height: 30px;
  display: inline-block;
  background: black;
  color: #add8ec;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10%;
  text-align: center;
}

.text {
  font-size: 20px;
  font-size: bold;
}
